body {
    background-color: rgb(253, 253, 242);
}

.title {
    text-align : center;
    text-decoration-line:overline;
    text-decoration-color: burlywood;
    text-decoration-style: solid;
}

#headline {
    color:cornflowerblue;
}

.submit {
    border-color : transparent;
    
}

.submit:hover {
    background-color:cornflowerblue;
    color:  rgb(253, 253, 242);
}

#link{
    color: palevioletred;
    text-decoration-line:none;
    font-weight: 600;
}